

body{
    font-family: century !important;
   
}
nav{
    background-color: antiquewhite;
    padding: 5px;
    box-shadow: 0 0 5px orange;
    margin-top: 10px;
    width: 1488px;
    margin: 0px;
    margin-left: -4px;

}
nav a{
    text-decoration: none;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    
}
nav a:hover{
    color: whitesmoke;
    background: linear-gradient( rgb(0, 0, 0) 5px 5px);
    border-radius: 6px;
    font-weight: 400;
    
  
}
.log{
    color: rgb(98, 72, 6);
    font-size: 30px;
    font-weight: 800;

}
.enroll, .login{
    background-color: black;
    color: whitesmoke;
    border-radius: 5px;
    padding: 6px;
    width: 150px;
    font-size: 20px;
    
}
.enroll{
    margin-left: 30px;
}
.login{
    margin-left: 30px;
}
.enroll:hover,.login:hover{
    background-color: whitesmoke;
    color: black;
}
.follow{
    padding: 50px;
    font-size: 20px;
    font-weight: 500;
}
/*Here starts main Content */
.main{
 width: 1505px;
 height: 700px;
 background-color: black;
 margin: 0px;
 margin-top: 8px;
 margin-left: -7px;
 box-shadow: 0 0 3px black;
}
.main1{

    position: absolute;
    width: 1235px;
    height: 546px;
    left: 60px;
    top: 838px;
    
    
    }
  
    .tt1{
        
    position: absolute;
    width: 28px;
    height: 646px;
    left: 50px;
    top: 75px;
    
    background: #e2e4e5;
    border-radius: 24px;
    }
    .tt2{
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    position: absolute;
    width: 442px;
    height: 222px;
    left: -120px;
    top: 40px;
    
    }
    .c1{
        color: whitesmoke;
        margin-left: 150px;
        margin-top: -15px;
        font-size: 25px;
        font-weight: 400;
    }
    .ol{
        color: whitesmoke;
        margin-left: 130px;
        font-size: 18px;
        font-weight: 100;
        
    }
  .ol a:hover{
    color: orange;
  }
    li{
        padding: 10px;
    }
    /* Social Media Icons*/
    
 a{
    text-decoration: none;
    color: whitesmoke;
 }
 .seco{
    margin-top: 0px;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    margin-top: -420px;
    margin-left: 900px;
    color: whitesmoke;
 }
 .heading{
    margin-top: -450px;
    margin-left: 900px;
    color: whitesmoke;
    width: 550px;
    font-size: 50px;
    text-shadow: 0 2px 2px orange;
    font-family: century Gothic !important;
 }
 .heading:hover{
    text-shadow: 0 2px 2px white;
    color: orange;

 }
 /* Form*/

.form-style-4{
	width: 450px;
	font-size: 16px;
	background: #000000;
	padding: 30px 30px 15px 30px;
	border: 2px solid white;
}
.form-style-4:hover{
  border:2px solid orange;
}
.form-style-4 input[type=submit],
.form-style-4 input[type=button],
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=number],
.form-style-4 textarea,
.form-style-4 label
{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #fff;

}
.form-style-4 label {
	display:block;
	margin-bottom: 10px;
}
.form-style-4 label > span{
	display: inline-block;
	
	width: 150px;
}
.form-style-4 input[type=text],
.form-style-4 input[type=email],
.form-style-4 input[type=number]  
{
	background: transparent;
	border: none;
	border-bottom: 1px dashed #83A4C5;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}
.form-style-4 textarea{
	
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed #d7e5f4;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

.form-style-4 textarea:focus, 
.form-style-4 input[type=text]:focus,
.form-style-4 input[type=email]:focus,
.form-style-4 input[type=email] :focus,
.form-style-4 input[type=number] :focus

{
	border-bottom: 1px dashed #D9FFA9;
}

.form-style-4 input[type=submit],
.form-style-4 input[type=button]{
	background: #cad6e3;
	border: none;
	padding: 8px 10px 8px 10px;
	border-radius: 5px;
	color: black;
    margin-left: 160px;
}
.form-style-4 input[type=submit]:hover,
.form-style-4 input[type=button]:hover{
background: orange;
}

/*Main Image code */
.image{
    margin-top: -690px;
    
    margin-left: 230px;
    
    background: transparent;
}



 
